<div>
  <div class="home_image" ><%= image_tag "jmhome.jpg" %></div>

  <div class="navbar">
  <ul>
  <li class="navbar_inner">HOME</li>
  <li class="navbar_inner">MEDIATION SERVICES</li>
  <li class="navbar_inner">PROFILE</li>
  <li class="navbar_inner"><%= link_to "CONTACT", contact_url %></li>
  </ul>
  </div>

  <div class="main-content">
  <p>Sara Stibitz is one of the country’s most respected mediators. For over 30 years, Judith has handled hundreds of high-profile and complex mediations throughout the country. A Distinguished Fellow in the International Academy of Mediators and certified by the International Mediation Institute, Judith brings a special skill set to each mediation. She makes a total commitment to the parties and their counsel to be their negotiation guide from first referral to final resolution.</br></br>
  Judith brings high energy and total commitment to a process that requires ready grasp of the essential business and legal issues of a dispute, and quick comprehension of the shifting dynamics between the parties – lawyers and their clients. She parses and reframes complex issues and moves the parties from positions to interests. One area where she is most sought after is in “high-emotion” cases, as she is known for her ability to “calm” a situation and help the parties focus on a successful resolution.</br></br>
  She gives the same focused attention to the $100,000 dispute as to the $20,000,000 dispute. When not mediating, Judith can be found teaching the subject at Cornell University Law School. To say she is passionate about mediation is quite an understatement. She is wholly supportive of, and dedicated to, the process and what it can achieve.</p>
</div>


<div class="footer"><p>Copyright © 2013 Sara Stibitz. All rights reserved.  Site design by Eleanor Lee.<p></div>

</div>



