
<div>
  <div class="home_image" ><%= image_tag "jmhome.jpg" %></div>

  <div class="navbar">
  <ul>
  <li class="navbar_inner">Home</li>
  <li class="navbar_inner">Mediation Services</li>
  <li class="navbar_inner">Profile</li>
  <li class="navbar_inner"><%= link_to "Contact", contact_url %></li>
  </ul>
  </div>
</div>

