.header{
}

.header_title{
  float: left;
  padding-left: 50px;
}

.phone_no{
  float: right;
  padding-right: 50px;
}

.navbar{
  border: 1px solid black;
  width:20%;
  height:500px;
  padding-left: 50px;
  float: left;
}

.navbar_inner{
  font-size: 20px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  list-style: none;
  color: red;
}

.home_image{
  float: left;
  clear: both;
  padding-left: 50px;
}


