
.header_title{
  float: left;
  padding-left: 150px;
}

.header_title p{
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  color:#B45340;
}

.biz_type{
  font-size:14px;
  font-weight:100;
  color:#867C77;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.phone_no{
  float: right;
  padding-right: 200px;
  padding-top: 50px;
  color:#867C77;
  font-family: Garamond, "Times New Roman", serif;
  font-size:15px;
}

.cell_no{
  font-weight:900;
  font-size: 20px;
}

.navbar{
  width:20%;
  height:600px;
  float: left;
  margin-top:20px;
}

.navbar_inner{
  font-size: 15px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  list-style: none;
  color:#B45340;
  padding-bottom: 15px;
}

.home_image{
  float: left;
  clear: both;
  padding-left: 150px;
  margin-top:40px;
}

.panda{
  width: 200px;
}

.main-content{
  float:left;
  width:30%;
  font-size: 14px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color:#867C77;
  border-left:1px solid gray;
  border-right:1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:20px;
}

.footer{
  width: 100%;
  clear:both;
  text-align: center;
  padding-top: 20px;
  color:#867C77;
  font-family: Garamond, "Times New Roman", serif;
}

a:link{
  color:#B45340;
  text-decoration: none;
  color:#B45340;
  text-decoration: none;
}

a:visited{
  color:#B45340;
  text-decoration: none;
}

a:hover{
  color:#B45340;
  text-decoration: none;
}

a:active{
  color:#B45340;
  text-decoration: none;
}
