.header{
  width: 50%;
  display: inline-block;
}
.phone_no{
  float: right;
}

.navbar{
  width: 33%;

  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;

}

.navbar_inner{
font-size: 20px;
font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
list-style: none;
}
